*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: url('../cafe.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 80px;
	background-color: rgb(51, 25, 16, .6);
}
.tit{
	display: none;
}
.business{
	font-size: 50px;
}
h2{
	color: #E6A756;
}


#navbarNav{
	background-color: rgb(51, 25, 16, .9);
	width: 100%;
	padding-bottom: 20px;
}
.navbar-nav{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;	
}
.nav-link{
	font-weight: bold;
}

.freshcoffee{
	z-index: 1;
	width: 450px;
	height: 350px;
	background-color: #F6E1C5;
	position: relative;
	left: 160px;
	top: 70px;
}
.image1{
	width: 800px;
	height: 500px;
	position: relative;
	bottom: 350px;
	left: 400px;
}

.btn1{
	width: 145px;
	height: 70px;
	background-color: #E6A756;
	border: none;
	border-radius: 5px;
}

.div1{
		height: 650px;
}

.div2{
	background-color: rgb(230, 167, 86, .8);
	height: 450px;
}

.ourpromise{
	background-color: #F6E1C5;
	height: 300px;
	width: 700px;
	position: relative;
	left: 330px;
	top: 65px;
}

.footer{
	background-color: rgb(51, 25, 16, .6);
	opacity:0.8;
}

@media screen and (max-width: 900px){
	.tit{
	display: initial;
}
	.bus{
	display: none;
}
	.business{
	display: none;
}


.freshcoffee{
	z-index: 1;
	width: 90%;
	position: relative;
	left: 0;
	top: 0px;
			margin-left: auto;
		margin-right: auto;
	
}
.image1{
	width: 90%;
	height: auto;
	position: relative;
	bottom: 0px;
	left: 0px;
			margin-left: auto;
		margin-right: auto;
	
}

.btn1{
	width: 90px;
	height: 50px;
}

.div1{
		width: 	100%;
		display: flex;
		flex-direction: column;
		grid-row-gap: 40px;
		margin-bottom: 400px;
}

.div2{
		width: 100%;

}
.ourpromise{
		width: 88%;
		position: relative;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
}
.divA{
		max-width: 100%;
		display: flex;
		flex-direction: column;
}
body{
	padding-top: 0px;
}
}


