*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: url('../cafe.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 80px;
	background-color: rgb(51, 25, 16, .6);
}
.tit{
	display: none;
}
.business{
	font-size: 50px;
}
h2{
	color: #E6A756;
}


#navbarNav{
	background-color: rgb(51, 25, 16, .9);
	width: 100%;
	padding-bottom: 20px;
}
.navbar-nav{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;	
}
.nav-link{
	font-weight: bold;
}

.footer{
	background-color: rgb(51, 25, 16, .6);
}

.div1,.div3,.div4,.div6,.div7,.div9{
	background-color: #F6E1C5;
}
.div1{
	width: 400px;
	position: relative;
	left: 60%;
	top: 50px;
}
.div3{
	width: 650px;
	position: relative;
	bottom: 50px;
}
.div4{
	width: 500px;
	position: relative;
	top: 50px;
}
.div6{
	width: 650px;
	position: relative;
	left: 40%;
	bottom: 50px;
}
.div7{
	width: 655px;
	position: relative;
	left: 50%;
	top: 50px;
}
.div9{
	width: 650px;
	position: relative;
	bottom: 50px;
}
.image{
	margin-left: 10%;
	margin-right: 10%;
}

@media screen and (max-width: 900px){
	.tit{
	display: initial;
}
	.bus{
	display: none;
}
	.business{
	display: none;
}
	.div1,.div3,.div4,.div6,.div7,.div9{
	left: 0; right: 0; top: 0; bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}
}


