*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: url('../cafe.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 80px;
	background-color: rgb(51, 25, 16, .6);
}
.tit{
	display: none;
}
.business{
	font-size: 50px;
}
h2{
	color: #E6A756;
}


#navbarNav{
	background-color: rgb(51, 25, 16, .9);
	width: 100%;
	padding-bottom: 20px;
}
.navbar-nav{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;	
}
.nav-link{
	font-weight: bold;
}


.footer{
	background-color: rgb(51, 25, 16, .6);
	opacity:0.9;
}

.div1{
	width:100%;
}
.img{
	width:80%;
	margin: 0px auto;
	position: relative;
	left: 150px;
}

.div2{
	width:60%;
	height: 300px;
	background-color: #F6E1C5;
	position: relative;
	left: 275px;
	bottom: 75px;
}
@media screen and (max-width: 900px){
	.tit{
	display: initial;
}
	.bus{
	display: none;
}
	.business{
	display: none;
}

body{
	padding-top: 0px;
}
.img{
	width: 100%;
	position: relative;
	left: 0;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	
}
.div1{
	width: 90%;
	position: relative;
	left: 0;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	
}
.div2{
	width: 90%;
	height: auto;
	position: relative;
	bottom: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
	
}

.div{
		width: 	100%;
		display: flex;
		flex-direction: column;
		grid-row-gap: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
}

}


